<!-- Loop over each object in the projects array -->
{{#each contact as |contact| }}
<div class="row mb-4 contact">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/project/{{contact.id}}">{{contact.name}}</a>
    </h2>
    <p>
      <!-- display phone -->
      <span class="contact.phone">{{format_amount contact.phone}}</span>
    </p>
  </div>
  <div class="col-md-7">
    <p>
      {{contact.notes}}
    </p>
  </div>
</div>
{{/each}}
