header {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

#cml {
  font-family: 'Montserrat';
}

#image1 {
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

body {
  background-color: #dbf3ff;
}
